
<form id="login-form">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Email</label>
    <input type="text" class="form-control" id="login-email" placeholder="Email" required>
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password</label>
    <input type="text" class="form-control" id="login-password" placeholder="Password" required>
  </div>
  <div class="mb-3">
      <button type="button" class="btn btn-primary">Login</button>
  </div>
</form>
<div class="mb-3">
    <a href="/signup">Signup instead</a>
</div>